@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

  body {
	height: 100%;
	width: 100%;

	background-color: #e0e0e0;
	color: #6b6666;
	padding: 1%;


}



.row {
	margin: 0;
	padding: 0;
}

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    color: black;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}

.dropdown-toggle {
	margin: 0;
	padding: 0;
}

#header {
	margin-top: 10%;
	font-family: Francois One;
	font-size: 700%;
	text-align: center;
}


#small-line {
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
	font-size: 200%;

}

.paypal {
  margin-top: -5vh;
  text-align: center;
  margin-left: 10vw;
}

#info {


	font-family: Raleway;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-bottom: 5vh;
  font-size: 2.2rem;
  color:black;
  text-align: justify;

}


img {
	width:20vw;
	height: auto;
  border-radius: 15%;
	z-index:2;
  margin: auto;
  margin-bottom: 2vh;



}

img:hover {
  opacity: 0.6;

}

.row-second {
  margin-bottom: 10vh;
}

#division-bar {

background-color: #47ffd1;

height:1px;
width:80vw;
margin-bottom: 5vh;
margin-left: 5vw;
margin-right: 5vw;

}



/*
.left {
	vertical-align:middle;
	text-align: center;
	border:  10px;
	margin-top: 1%;
	height: 35vh;
}

.right {
	margin-top: 1%;
	height: 35vh;
	text-align: left;
	vertical-align: middle;
	padding-top: 5%;
	line-height: 1.5;
	font-family: Raleway;
	font-size: 200%;

}*/

a:hover {
	cursor: pointer;
    text-decoration: none;

}

.test {
  background-color: blue;
}

@media screen and (max-width: 1196px) {

	#banner {
		padding: 17%;
	}

	#info {
		margin-top: 2%
	}


}



@media screen and (max-width: 1065px) {


	#banner {
		padding: 21%;
	}

}

@media screen and (max-width: 880px) {


	#banner {
		padding: 23%;
	}

}

@media screen and (max-width: 767px) {

	.navbar-default {
		padding: 0.5% 5%;
		background: #F8F8F8;
	}

	#navLogo {
		display: none;
	}

  img {
    width: 35vw;
    height: auto;
    margin-bottom: 5vh;
  }

  #paypal {
    margin-left: 20vw;
  }




	#header {
		margin-top: 15vh;
    font-size: 4rem;

	}

	#title {
		margin-bottom: 5%;
	}

  #info {
    font-size: 1.8rem;
    text-align: justify;
  }
}

@media screen and (max-width: 387px) {

  #paypal {
    margin-top: 10vh;
  }

}

@media screen and (min-width: 1196px){
	#banner{
		padding: 15%;
	}

	#info{
		margin-top: 0%;
	}
}

}
