/*for the navbar*/

@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Mono|Space+Mono|Poppins');
.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}
@media screen and (max-width: 761px) {
	.navbar-default {
		padding: 0.5% 5%;
	}
}

body {

background-color: #f4f4f4;
}
.container-fluid {
	padding: 0;
	margin: 0;
}

#top-background {
    background: #47ffd1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #50edbb,#47FFC2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #50edbb, #47FFC2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #50edbb, #47FFC2); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #50edbb, #47FFC2); /* Standard syntax */
	opacity:0.8;
	width:100%;
	height:30vh;
	position:relative;
	z-index:-1;
}

a .action_box {
	text-decoration: none;
}

#postAd {
	background-color: #47ffd1; /* For browsers that do not support gradients */
    background-color: -webkit-linear-gradient( #50edbb,#47FFC2); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient( #50edbb, #47FFC2); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient( #50edbb, #47FFC2); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient( #50edbb, #47FFC2); /* Standard syntax */
    color: white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    float:right;
    margin-right: 2%;
    cursor: pointer;
    margin-bottom: -20px;
}

#title-text {

 margin-left: 29%;
 font-size: 300%;
 position:absolute;
 bottom:0;
 color:white;

}

#division-bar {

background-color: #e8e9ea;

height:4px;
width:100vw;

}

#profile-image {

	margin-top: -9%;
	margin-left:7%;
	width: 20%;
	height: 16%;
	border: 4px solid #e8e9ea;
	z-index: 3;
	border-radius: 10px;

}

.row {
	height: 100%;
	width: auto;
	padding: 1%;
}

.left-box {
	background-color: #e8e9ea;
	height: 25rem;
	margin-radius: 0;
	padding: 1%;
	vertical-align: middle;
	margin-top: 5vh;
	font-size: 1.5rem;


}

.right-box {
	background-color: #e8e9ea;
	height: 25rem;
	margin-radius: 0;
	padding: 1%;
	vertical-align: middle;
	margin-top: 5vh;
	font-size: 1.5rem;

}

#awards-box {
	overflow: scroll;


}

#volunteers-table {
	padding-bottom: 10px;
}

#about-text, #quick-facts {
	height: 10vh;

}

#about-text {
	padding: 10px;
}

.break {

	background-color: red;
	height:1%;
}

.save-icon {
	float:right;
	background: none;
	border: none;

}

#save-about-text, #save-volunteers{
	display:none;
}

#save-quick-facts-text {
	display:none;
}

#save-skills-text {
	display:none;
}

#save-contact-us-text {
	display:none;
}

.edit-icon {

float: right;
background: none;
border: none;

}





#social-media {

height:auto;
margin-bottom: 15vh;

}

.sub-heading {
float:center;
text-align: center;
font-size: 130%;
padding-bottom:1px;
border-bottom: solid 1px #66FFC0;

}

.glyphicon-remove:hover {
	    cursor:pointer;

}

.glyphicon-floppy-disk {
	display: none;
}

.addMe {
	display: none;
}

@media screen and (max-width: 1196px) {

	#top-background {

		height:28vh;
	}
	#profile-image {

		width: 23%;
		height: 19%;

	}
	#title-text {

		margin-left: 32%;
	}



}

#facts-text {

	padding-left: 5%;
	margin-top: -1.5vh;

}

#quick-facts-table {

	margin-left: 20%;

}

#volunteers-table {

	margin-left: 10%;
}


@media screen and (max-width: 1065px) {


	#title-text {

		font-size:260%;
	}


}

@media screen and (max-width: 880px) {


	#top-background {

		height:26vh;
	}
	#profile-image {

		width: 27%;
		height: 21%;

	}
	#title-text {

		margin-left: 34%;
	}



}

#facts-table {

padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;

}

@media screen and (max-width: 767px) {

	#top-background {

		height:23vh;
	}
	#profile-image {

		width: 31%;
		height: 26%;

	}
	#title-text {

		margin-left: 38%;
		font-size:200%;
	}






}
