@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}

body {
  background-image: url("img/desk-search.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100vw;
  height: 100vh;


  background-color: #d6d7d8;
	color: #6b6666;
  position: relative;
}


h1 {
	font-family: Raleway;
	font-size: 5rem;
	text-align: center;
	padding-top: 15%;
  padding-bottom: 7%;
	font-weight: bold;

}

p {
	font-family: Raleway;
	font-size: 2.5rem;
	text-align: center;
}

.text-container {
  padding-top: 18vh;

}

#here {
	color: #4ec996;
}

@media screen and (max-width: 561px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }


}


@media screen and (max-width: 900px){
	h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
}



}
